<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add connectionString="Server=USERVER7\SQLEXPRESS;Database=BD_Facturacion;User Id=SA;Password=Factura99;Connection Timeout=150;pooling=false;" name="cnsFacturacion" providerName="System.Data.SqlClient"/>-->
  <!--<add connectionString="Server=192.168.90.8;Database=BD_Facturacion;User Id=SA;Password=C0rporaci0n;Connection Timeout=150;pooling=false;" name="cnsFacturacion" providerName="System.Data.SqlClient"/>-->
  <add connectionString="Server=ansrvbd01;Database=BD_Facturacion;User Id=SA;Password=P@ssw0rd37ha;Connection Timeout=150;pooling=false;" name="cnsFacturacion" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  
    <add key="CertF" value="D:\SLIN-ADE\ANCRO\Librerias\crt\certificado_sunat_PFX_ancro.pfx" />
    <add key="CertP" value="UvaA6x9PujNLRCGoBanObw==" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  
    
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="HTTP_Binding" sendTimeout="00:20:00" closeTimeout="00:20:00" openTimeout="00:20:00" receiveTimeout="00:20:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        --><!-- Configuracion adicional para el envío a SUNAT --><!--
        <binding name="secured">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="BillServicePortBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="BillServicePortBinding1"/>
        <binding name="BillServicePortBinding2">
          <security mode="Transport"/>
        </binding>
        <binding name="BillServicePortBinding3">
          <security mode="Transport"/>
        </binding>
        <binding name="BillConsultServicePortBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="BillConsultServicePortBinding1"/>
        <binding name="BillServicePortBinding4">
          <security mode="Transport"/>
        </binding>
        <binding name="BillServicePortBinding6"/>
        <binding name="BillServicePortBinding7"/>
        <binding name="BillServicePortBinding8">
          <security mode="Transport"/>
        </binding>
        <binding name="BillServicePortBinding9">
          <security mode="Transport"/>
        </binding>
        <binding name="BillServicePortBinding10"/>
        --><!-- Configuracion adicional para el envío a SUNAT --><!--  
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.sunat.gob.pe:443/ol-ti-itcpgem-sqa/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding" contract="WSSunat_HML.billService" name="BillServicePort">
        <headers>
          <wsse:Security xmlns:ser="http://service.sunat.gob.pe" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username></wsse:Username>
              <wsse:Password></wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://www.sunat.gob.pe:443/ol-it-wsconscpegem/billConsultService" binding="basicHttpBinding" bindingConfiguration="BillConsultServicePortBinding" contract="WSSunat_QRY.billService" name="BillConsultServicePort">
        <headers>
          <wsse:Security xmlns:ser="http://service.sunat.gob.pe" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username></wsse:Username>
              <wsse:Password></wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://www.sunat.gob.pe:443/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding4" contract="WSSunat_PRD.billService" name="BillServicePort2">
        <headers>
          <wsse:Security xmlns:ser="http://service.sunat.gob.pe" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>20431084172ABLAJQ01</wsse:Username>
              <wsse:Password>ALBBUSARR</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itcpfegem-beta/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding2" contract="WSSunat_TST.billService" name="BillServicePort1">
        <headers>
          <wsse:Security xmlns:ser="http://service.sunat.gob.pe" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>20431084172MODDATOS</wsse:Username>
              <wsse:Password>moddatos</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itemision-otroscpe-gem-beta/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding8" contract="WSSunat_DEVOC.billService" name="BillServicePort3">
        <headers>
          <wsse:Security xmlns:ser="http://service.sunat.gob.pe" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>20431084172MODDATOS</wsse:Username>
              <wsse:Password>moddatos</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
    </client>-->
    <bindings>
      <basicHttpBinding>
        <binding name="secured">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="BillServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="SunatDEVBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="BillConsultServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BillConsultServicePortBinding1" />
        <binding name="BillServicePortBinding4">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding6" />
        <binding name="BillServicePortBinding7" />
        <binding name="BillServicePortBinding8">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding9">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding10" />
        <binding name="BillServicePortBinding11">
          <security mode="Transport" />
        </binding>
        <binding name="BillServicePortBinding13" />
      </basicHttpBinding>
      <customBinding>
        <binding name="BillServicePortBinding5">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://www.sunat.gob.pe:443/ol-ti-itcpgem-sqa/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
        contract="WSSunat_HML.billService" name="BillServicePort">
        <headers>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
            xmlns:ser="http://service.sunat.gob.pe" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
            <wsse:UsernameToken>
              <wsse:Username></wsse:Username>
              <wsse:Password></wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://www.sunat.gob.pe:443/ol-it-wsconscpegem/billConsultService"
        binding="basicHttpBinding" bindingConfiguration="BillConsultServicePortBinding"
        contract="WSSunat_QRY.billService" name="BillConsultServicePort">
        <headers>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
            xmlns:ser="http://service.sunat.gob.pe" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
            <wsse:UsernameToken>
              <wsse:Username></wsse:Username>
              <wsse:Password></wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://www.sunat.gob.pe:443/ol-ti-itcpfegem/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding4"
        contract="WSSunat_PRD.billService" name="BillServicePort2">
        <headers>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
            xmlns:ser="http://service.sunat.gob.pe" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
            <wsse:UsernameToken>
              <wsse:Username></wsse:Username>
              <wsse:Password></wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itcpfegem-beta/billService"
        binding="basicHttpBinding" bindingConfiguration="SunatDEVBinding"
        contract="WSSunat_TST.billService" name="SunatDEV">
        <headers>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
            xmlns:ser="http://service.sunat.gob.pe" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
            <wsse:UsernameToken>
              <wsse:Username>20431084172MODDATOS</wsse:Username>
              <wsse:Password>moddatos</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itemision-otroscpe-gem-beta/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding8"
        contract="WSSunat_DEVOC.billService" name="BillServicePort3">
        <headers>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
            xmlns:ser="http://service.sunat.gob.pe" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
            <wsse:UsernameToken>
              <wsse:Username>20431084172MODDATOS</wsse:Username>
              <wsse:Password>moddatos</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
      <endpoint address="https://www.sunat.gob.pe:443/ol-ti-itemision-otroscpe-gem/billService"
        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding11"
        contract="WSSunat_PRDOC.billService" name="BillServicePort4">
        <headers>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
            xmlns:ser="http://service.sunat.gob.pe" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
            <wsse:UsernameToken>
              <wsse:Username>20431084172ABLAJQ01</wsse:Username>
              <wsse:Password>ALBBUSARR</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <!--serviceDebug includeExceptionDetailInFaults="true"/-->
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>