<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="Server" value="CORPSLIN03"/>
      <add key="Database" value="BD_FACTURACION"/>
      <add key="UserId" value="s9rOlYeF/5g="/>
      <add key="Password" value="TjIUuwSHgwE="/>
      
      
      <!-- Primero colocamos las empresas a monitorear -->
      <add key="20302241598" value="D:\SLIN-ADE\KOMA" />
      <add key="20543725821" value="D:\SLIN-ADE\CUMMINS" />
    
      <!-- Ahora el tiempo en el que  -->
      <add key="TimeToCheck" value="60000" />
    
      <add key="LogPath" value="D:\SLIN-ADE\_ADE\log" />
    </appSettings>
    <!--
      Comando para instalar el servicio de Windows: 
      C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\InstallUtil.exe "C:\Users\SLIN\Documents\visual studio 2015\Projects\ADEMonitor\ADEMonitor\bin\Debug\ADEMonitor.exe"
      Instalar : RutaInstallUtil RutaServicio.exe
      Instalar : RutaInstallUtil /u RutaServicio.exe
    -->
</configuration>