<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="Server" value="190.107.180.69"/>
      <add key="Database" value="BD_FACTURACION"/>
      <add key="UserId" value="SHCmp3SO7qo="/>
      <add key="Password" value="8wPkiKsRJ7ZzrVxsgNZczg=="/>
      
      
      <!-- Primero colocamos las empresas a monitorear -->
      <add key="20431084172" value="D:\SLIN-ADE\ANCRO" />
    
      <add key="LogPath" value="D:\SLIN-ADE\_ADE\log" />
    </appSettings>
    <!--
      Comando para instalar el servicio de Windows: 
      C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\InstallUtil.exe "C:\Users\SLIN\Documents\visual studio 2015\Projects\ADEMonitor\ADEMonitor\bin\Debug\ADEMonitor.exe"
      Instalar : RutaInstallUtil RutaServicio.exe
      Instalar : RutaInstallUtil /u RutaServicio.exe
    -->
</configuration>