<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Server" value="192.168.90.8"/>
    <add key="Database" value="BD_FACTURACION"/>
    <add key="UserId" value="SHCmp3SO7qo="/>
    <add key="Password" value="m2BEJzpQRAarQ3gYAJLWSA=="/>
  </appSettings>
</configuration>