<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Primero colocamos las empresas a monitorear -->
    <add key="20431084172" value="D:\SLIN-ADE\ANCRO" />

    <add key="20302241598" value="D:\SLIN-ADE\KOMA" />
    <add key="20543725821" value="D:\SLIN-ADE\CUMMINS" />
    
    <!-- Ahora variabes necesarias para el monitor -->
    <add key="PathToWatch" value="D:\SLIN-ADE\_ADE\in" />
    <add key="LogPath" value="D:\SLIN-ADE\_ADE\log" />
    <add key="FileExtension" value=".txt" />
    <add key="ProcessToExecute" value="ADE.Processes.DatabaseIncome.exe" />
    
    <add key="ENV" value="si" />
    
    <add key="MaxNumberOfThreads" value="4" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--
      Comando para instalar el servicio de Windows: 
      C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\InstallUtil.exe "C:\Users\SLIN\Documents\visual studio 2015\Projects\ADEMonitor\ADEMonitor\bin\Debug\ADEMonitor.exe"
      Instalar : RutaInstallUtil RutaServicio.exe
      Instalar : RutaInstallUtil /u RutaServicio.exe
    -->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>